<!-- Update discount Modal -->
<div
  class="modal fade"
  id="updateDiscountModal_<%= discount.id %>"
  tabindex="-1"
  aria-labelledby="discountUpdateLabel_<%= discount.id %>"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="discountUpdateLabel_<%= discount.id %>">
          Update Discount
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="discountUpdateForm_<%= discount.id %>">
          <div class="mb-3">
            <label for="update_name_<%= discount.id %>" class="form-label"
              >Name</label
            >
            <input
              type="text"
              class="form-control"
              id="update_name_<%= discount.id %>"
              value="<%= discount.name %>"
              name="name"
              required
            />
          </div>
          <div class="mb-3">
            <label
              for="update_description_<%= discount.id %>"
              class="form-label"
              >Description</label
            >
            <textarea
              class="form-control"
              id="update_description_<%= discount.id %>"
              name="description"
              rows="3"
              required
            >
<%= discount.description %></textarea
            >
          </div>
          <div class="mb-3">
            <label for="update_amount_<%= discount.id %>" class="form-label"
              >Amount</label
            >
            <input
              type="number"
              class="form-control"
              id="update_amount_<%= discount.id %>"
              value="<%= discount.amount %>"
              name="amount"
              required
            />
          </div>
          <div class="mb-3">
            <label for="startDate_<%= discount.id %>" class="form-label"
              >Start Date</label
            >
            <input
              type="date"
              class="form-control"
              id="startDate_<%= discount.id %>"
              value="<%=  (discount.startAt) %>"
              name="start_date"
              required
            />
          </div>
          <div class="mb-3">
            <label for="expireDate_<%= discount.id %>" class="form-label"
              >Expire Date</label
            >
            <input
              type="date"
              class="form-control"
              id="expireDate_<%= discount.id %>"
              name="expire_date"
              value="<%=  (discount.expiresAt) %>"
              required
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-warning"
              id="updateDiscountBtn_<%= discount.id %>"
            >
              <span id="updateDiscountBtnText_<%= discount.id %>">
                Update Discount
              </span>
              <span
                class="spinner-border spinner-border-sm d-none"
                id="updateDiscountBtnSpinner_<%= discount.id %>"
                role="status"
                aria-hidden="true"
              ></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function turnOffSpinner(
    updateDiscountBtn,
    updateDiscountBtnText,
    updateDiscountBtnSpinner,
  ) {
    updateDiscountBtnText.classList.remove('d-none');
    updateDiscountBtnSpinner.classList.add('d-none');
    updateDiscountBtn.disabled = false;
  }

  // Convert "dd-MM-yyyy" to "yyyy-MM-dd"
  function formatDateToISO(dateString) {
    const [day, month, year] = dateString.split('-');
    return `${year}-${month}-${day}`;
  }

  document.addEventListener('DOMContentLoaded', function () {
    document
      .getElementById('discountUpdateForm_<%= discount.id %>')
      .addEventListener('submit', function (event) {
        event.preventDefault();

        const updateDiscountBtn = document.getElementById(
          'updateDiscountBtn_<%= discount.id %>',
        );
        const updateDiscountBtnText = document.getElementById(
          'updateDiscountBtnText_<%= discount.id %>',
        );
        const updateDiscountBtnSpinner = document.getElementById(
          'updateDiscountBtnSpinner_<%= discount.id %>',
        );

        // Show the spinner and disable the button
        updateDiscountBtnText.classList.add('d-none');
        updateDiscountBtnSpinner.classList.remove('d-none');
        updateDiscountBtn.disabled = true;

        // Get form data
        const name = document.getElementById(
          'update_name_<%= discount.id %>',
        ).value;
        const description = document.getElementById(
          'update_description_<%= discount.id %>',
        ).value;
        const amount = document.getElementById(
          'update_amount_<%= discount.id %>',
        ).value;
        const startDate = document.getElementById(
          'startDate_<%= discount.id %>',
        ).value;
        const expireDate = document.getElementById(
          'expireDate_<%= discount.id %>',
        ).value;
        console.log('Name:', name);
        console.log('Description:', description);
        console.log('Amount:', amount);
        console.log('Start Date:', startDate);
        console.log('Expire Date:', expireDate);
        const currentDate = new Date().toISOString().split('T')[0];

        // Validate dates
        if (new Date(expireDate) <= new Date(currentDate)) {
          alert('Expire date must be in the future.');
          turnOffSpinner(
            updateDiscountBtn,
            updateDiscountBtnText,
            updateDiscountBtnSpinner,
          );
          return;
        }

        if (new Date(startDate) > new Date(expireDate)) {
          alert('Start date cannot be after the expire date.');
          turnOffSpinner(
            updateDiscountBtn,
            updateDiscountBtnText,
            updateDiscountBtnSpinner,
          );
          return;
        }

        // Construct payload
        const payload = {
          name: name,
          description: description,
          amount: parseInt(amount),
          startAt: startDate,
          expiresAt: expireDate,
        };

        fetch('/discounts/<%= discount.id %>', {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(payload),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              location.reload(); // Reload the page to see the updated discount
            } else {
              alert(data.message || 'Failed to update discount');
              turnOffSpinner(
                updateDiscountBtn,
                updateDiscountBtnText,
                updateDiscountBtnSpinner,
              );
            }
          })
          .catch((error) => {
            console.error('Error:', error);
            alert('Error updating discount');
            turnOffSpinner(
              updateDiscountBtn,
              updateDiscountBtnText,
              updateDiscountBtnSpinner,
            );
          });
      });
  });
</script>
