<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" href="/css/virtual-select.min.css" />
    <script src="/css/virtual-select.min.js"></script>
  </head>

  <body>
    <div class="wrapper">
      <aside id="sidebar" class="expand">
        <div class="d-flex">
          <button class="toggle-btn" type="button">
            <i class="lni lni-menu"></i>
          </button>
          <div class="sidebar-logo">
            <a href="#">BookWorm</a>
          </div>
        </div>
        <ul class="sidebar-nav">
          <li class="sidebar-item <%- title=='Dashboard Page'? 'active':'' %>">
            <a href="/" class="sidebar-link">
              <i class="lni lni-dashboard"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="sidebar-item <%- title=='About Page'? 'active':'' %>">
            <a href="/page/about" class="sidebar-link">
              <i class="lni lni-information"></i>
              <span>About Us</span>
            </a>
          </li>

          <li
            class="sidebar-item <%- title=='User Page' || title=='Order Page' ? 'open' : '' %>"
          >
            <a
              href="#"
              class="sidebar-link collapsed has-dropdown"
              data-bs-toggle="collapse"
              data-bs-target="#user"
              aria-expanded="false"
              aria-controls="user"
            >
              <i class="lni lni-users"></i>
              <span>User</span>
            </a>
            <ul
              id="user"
              class="sidebar-dropdown list-unstyled collapse <%- title=='User Page' || title=='Order Page' ? 'show' : '' %>"
              data-bs-parent="#sidebar"
            >
              <li
                class="sidebar-item ms-3 <%- title=='User Page'? 'active':'' %>"
              >
                <a href="/page/user" class="sidebar-link">
                  <i class="lni lni-user"></i> Profile
                </a>
              </li>
              <li
                class="sidebar-item ms-3 <%- title=='Order Page'? 'active':'' %>"
              >
                <a href="/page/order" class="sidebar-link">
                  <i class="lni lni-clipboard"></i> Order
                </a>
              </li>
            </ul>
          </li>
          <li
            class="sidebar-item <%- title=='Book Page' || title=='Category Page' || title=='Author Page' || title=='Publisher Page' || title=='Discount Page' ? 'open' : '' %>"
          >
            <a
              href="#"
              class="sidebar-link collapsed has-dropdown"
              data-bs-toggle="collapse"
              data-bs-target="#store"
              aria-expanded="false"
              aria-controls="store"
            >
              <i class="lni lni-shopify"></i>
              <span>Store</span>
            </a>
            <ul
              id="store"
              class="sidebar-dropdown list-unstyled collapse <%- title=='Book Page' || title=='Category Page' || title=='Author Page' || title=='Publisher Page' || title=='Discount Page' ? 'show' : '' %>"
              data-bs-parent="#sidebar"
            >
              <li
                class="sidebar-item ms-3 <%- title=='Book Page'? 'active':'' %>"
              >
                <a
                  href="/page/book"
                  class="sidebar-link justify-content-center align-items-center"
                >
                  <i class="lni lni-book"></i>
                  Book
                </a>
              </li>
              <li
                class="sidebar-item ms-3 <%- title=='Category Page'? 'active':'' %>"
              >
                <a href="/page/category" class="sidebar-link">
                  <i class="lni lni-grid-alt"></i>
                  Category
                </a>
              </li>
              <li
                class="sidebar-item ms-3 <%- title=='Author Page'? 'active':'' %>"
              >
                <a href="/page/author" class="sidebar-link">
                  <i class="lni lni-license"></i>
                  Author
                </a>
              </li>
              <li
                class="sidebar-item ms-3 <%- title=='Publisher Page'? 'active':'' %>"
              >
                <a href="/page/publisher" class="sidebar-link">
                  <i class="lni lni-producthunt"></i>
                  Publisher
                </a>
              </li>
              <li
                class="sidebar-item ms-3 <%- title=='Discount Page'? 'active':'' %>"
              >
                <a href="/page/discount" class="sidebar-link">
                  <i class="lni lni-offer"></i>
                  Discount
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="sidebar-footer">
          <p class="text-white ms-3">Welcome, <%= user.email %></p>
          <a href="/auth/logout" class="sidebar-link">
            <i class="lni lni-exit"></i>
            <span>Logout</span>
          </a>
        </div>
      </aside>
      <div class="main p-3">
        <nav
          class="navbar navbar-expand-lg navbar-light bg-light border-bottom"
        >
          <div class="container-fluid">
            <!-- <button class="btn btn-primary" id="menu-toggle">
              Toggle Menu
            </button> -->
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/">Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/page/about">About</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="container-fluid"><%- body %></div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>

    <script src="/js/script.js"></script>
    <script>
      const hamBurger = document.querySelector('.toggle-btn');

      hamBurger.addEventListener('click', function () {
        document.querySelector('#sidebar').classList.toggle('expand');
      });
    </script>
  </body>
</html>
