<!-- Delete book Modal -->
<div
  class="modal fade"
  id="deleteBookModal_<%= book.id %>"
  tabindex="-1"
  aria-labelledby="bookDelLabel_<%= book.id %>"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookDelLabel_<%= book.id %>">
          Delete Book
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete book "<%= book.name %>"?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          onclick="deleteBook('<%= book.id %>')"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  function deleteBook(bookId) {
    fetch(`/books/${bookId}`, {
      method: 'DELETE',
    })
      .then((response) => {
        if (response.ok) {
          location.reload(); // Reload the page to reflect the changes
        } else {
          alert('Failed to delete book');
        }
      })
      .catch((error) => {
        console.error('Error deleting book:', error);
        alert('Error deleting book');
      });
  }
</script>
