<div>
  <div class="d-flex justify-content-between align-content-center mt-3">
    <h1 class="text-muted">List of Books</h1>
    <button
      type="button"
      class="btn btn-success"
      data-bs-toggle="modal"
      data-bs-target="#addBook"
    >
      Create Book
    </button>
  </div>
  <div class="container">
    <div class="float-end mb-3">
      <form class="d-flex" action="/page/book" method="GET">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          name="q"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    <table class="table table-hover" style="cursor: pointer">
      <thead class="table-info">
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">Sold</th>
          <th scope="col">Rate</th>
          <th scope="col">Status</th>
          <th scope="col">Created At</th>
          <th scope="col">Updated At</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% books.forEach(book => { %>
        <tr>
          <td>
            <img
              src="<%= book.image%>"
              class="rounded"
              style="width: 70px; height: 70px"
            />
          </td>
          <td>
            <p
              class="text-truncate"
              style="max-width: 150px"
              title="<%= book.title %>"
            >
              <%= book.title %>
            </p>
          </td>
          <td>
            <p
              class="text-truncate"
              style="max-width: 150px"
              title="<%= book.price %>"
            >
              <%= book.price %>
            </p>
          </td>
          <td>
            <p
              class="text-truncate"
              style="max-width: 150px"
              title="<%= book.sold_quantity %>"
            >
              <%= book.sold_quantity %>
            </p>
          </td>
          <td>
            <% const fullStars = Math.floor(book.average_rate); %> <% let
            remainingStars = 5 - fullStars; %> <% const hasHalfStar =
            (book.average_rate % 1) >= 0.5; %>

            <!-- Render full stars in yellow -->
            <% for (let i = 0; i < fullStars; i++) { %>
            <i class="fas fa-star" style="color: rgb(255, 204, 0)"></i>
            <% } %>

            <!-- Render half star in yellow if necessary -->
            <% if (hasHalfStar) { %>
            <i class="fas fa-star-half-alt" style="color: rgb(255, 204, 0)"></i>
            <% remainingStars--; %> <% } %>

            <!-- Render remaining stars in black -->
            <% for (let i = 0; i < remainingStars; i++) { %>
            <i class="fas fa-star"></i>
            <% } %>
          </td>
          <td>
            <% if (book.isActive === true) { %>
            <span class="badge bg-success">Active</span>
            <% } else { %>
            <span class="badge bg-secondary">Inactive</span>
            <% } %>
          </td>
          <td>
            <p
              class="text-truncate"
              style="max-width: 150px"
              title="<%= book.created_at %>"
            >
              <%= book.created_at %>
            </p>
          </td>
          <td>
            <p
              class="text-truncate"
              style="max-width: 150px"
              title="<%= book.updated_at %>"
            >
              <%= book.updated_at %>
            </p>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-info"
              data-bs-toggle="modal"
              data-bs-target="#viewBookModal_<%= book.id %>"
            >
              <i class="lni lni-eye text-white"></i>
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#updateBookModal_<%= book.id %>"
            >
              <i class="lni lni-pencil-alt"></i>
            </button>
            <button
              type="button"
              class="<%= book.isActive===true? 'btn btn-danger':'btn btn-secondary disabled ' %>"
              data-bs-toggle="modal"
              data-bs-target="#deleteBookModal_<%= book.id %>"
            >
              <i class="lni lni-trash-can"></i>
            </button>
          </td>
        </tr>
        <%-include('../modals/book/view_book.ejs', { book }) %>
        <%-include('../modals/book/update_book.ejs', { book }) %>
        <%-include('../modals/book/delete_book.ejs', { book }) %> <% }) %>
      </tbody>
    </table>
    <ul class="pagination justify-content-center">
      <% if (meta.totalPages > 1) { %>
      <li class="page-item <%= meta.currentPage === 1 ? 'disabled' : '' %>">
        <a
          class="page-link"
          href="?page=1&limit=<%= meta.itemsPerPage %>&q=<%= query.q %>"
          >First</a
        >
      </li>
      <li class="page-item <%= meta.currentPage === 1 ? 'disabled' : '' %>">
        <a
          class="page-link"
          href="?page=<%= meta.currentPage - 1 %>&limit=<%= meta.itemsPerPage %>&q=<%= query.q %>"
          >Previous</a
        >
      </li>

      <% for (let a = 1; a <= meta.totalPages; a++) { %>
      <li class="page-item <%= a === meta.currentPage ? 'active' : '' %>">
        <a
          class="page-link"
          href="?page=<%= a %>&limit=<%= meta.itemsPerPage %>&q=<%= query.q %>"
          ><%= a %></a
        >
      </li>
      <% } %>

      <li
        class="page-item <%= meta.currentPage === meta.totalPages ? 'disabled' : '' %>"
      >
        <a
          class="page-link"
          href="?page=<%= meta.currentPage + 1 %>&limit=<%= meta.itemsPerPage %>&q=<%= query.q %>"
          >Next</a
        >
      </li>
      <li
        class="page-item <%= meta.currentPage === meta.totalPages ? 'disabled' : '' %>"
      >
        <a
          class="page-link"
          href="?page=<%= meta.totalPages %>&limit=<%= meta.itemsPerPage %>&q=<%= query.q %>"
          >Last</a
        >
      </li>
      <% } %>
    </ul>
  </div>
</div>
<%- include('../modals/book/create_book.ejs') %>
