<div>
  <div class="d-flex justify-content-between align-content-center mt-3">
    <h1 class="text-muted">List of Books</h1>
    <button
      type="button"
      class="btn btn-success"
      data-bs-toggle="modal"
      data-bs-target="#addBook"
    >
      Create Book
    </button>
  </div>
  <div class="container">
    <table class="table table-hover" style="cursor: pointer">
      <thead class="table-info">
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Status</th>
          <th scope="col">Created At</th>
          <th scope="col">Updated At</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% books.forEach(book => { %>
        <tr>
          <td>
            <img
              src="<%= book.image%>"
              class="rounded"
              style="width: 70px; height: 70px"
            />
          </td>
          <td>
            <p
              class="text-truncate"
              style="max-width: 150px"
              title="<%= book.title %>"
            >
              <%= book.title %>
            </p>
          </td>
          <td>
            <p
              class="text-truncate"
              style="max-width: 150px"
              title="<%= book.price %>"
            >
              <%= book.price %>
            </p>
          </td>
          <td>
            <p
              class="text-truncate"
              style="max-width: 150px"
              title="<%= book.quantity %>"
            >
              <%= book.quantity %>
            </p>
          </td>
          <td>
            <% if (book.isActive === true) { %>
            <span class="badge bg-success">Active</span>
            <% } else { %>
            <span class="badge bg-secondary">Inactive</span>
            <% } %>
          </td>
          <td>
            <p
              class="text-truncate"
              style="max-width: 150px"
              title="<%= book.created_at %>"
            >
              <%= book.created_at %>
            </p>
          </td>
          <td>
            <p
              class="text-truncate"
              style="max-width: 150px"
              title="<%= book.updated_at %>"
            >
              <%= book.updated_at %>
            </p>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-info"
              data-bs-toggle="modal"
              data-bs-target="#viewBookModal_<%= book.id %>"
            >
              <i class="lni lni-eye text-white"></i>
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#updateBookModal_<%= book.id %>"
            >
              <i class="lni lni-pencil-alt"></i>
            </button>
            <button
              type="button"
              class="<%= book.isActive===true? 'btn btn-danger':'btn btn-secondary disabled ' %>"
              data-bs-toggle="modal"
              data-bs-target="#deleteBookModal_<%= book.id %>"
            >
              <i class="lni lni-trash-can"></i>
            </button>
          </td>
        </tr>

        <%-include('../modals/book/update_book.ejs', { book }) %>
        <%-include('../modals/book/delete_book.ejs', { book }) %> <% }) %>
      </tbody>
    </table>
  </div>
</div>
<%- include('../modals/book/create_book.ejs') %>
