<div>
  <div class="d-flex justify-content-between align-content-center my-3">
    <h1 class="text-muted">List of Categories</h1>
    <button
      type="button"
      class="btn btn-success"
      data-bs-toggle="modal"
      data-bs-target="#categoryAdd"
    >
      Create Category
    </button>
  </div>
  <div class="container">
    <table class="table table-hover" style="cursor: pointer">
      <thead class="table-info rounded-top">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Created At</th>
          <th scope="col">Updated At</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% categories.forEach(category => { %>
        <tr>
          <td>
            <p
              class="text-truncate"
              style="max-width: 150px"
              title="<%= category.id %>"
            >
              <%= category.id%>
            </p>
          </td>
          <td>
            <p
              class="text-truncate"
              style="max-width: 150px"
              title="<%= category.name %>"
            >
              <%= category.name %>
            </p>
          </td>
          <td>
            <p
              class="text-truncate"
              style="max-width: 150px"
              title="<%= category.description %>"
            >
              <%= category.description %>
            </p>
          </td>
          <td>
            <% if (category.isActive === true) { %>
            <span class="badge bg-success">Active</span>
            <% } else { %>
            <span class="badge bg-secondary">Inactive</span>
            <% } %>
          </td>
          <td>
            <p
              class="text-truncate"
              style="max-width: 150px"
              title="<%= category.created_at %>"
            >
              <%= category.created_at %>
            </p>
          </td>
          <td>
            <p
              class="text-truncate"
              style="max-width: 150px"
              title="<%= category.updated_at %>"
            >
              <%= category.updated_at %>
            </p>
          </td>

          <td>
            <button
              type="button"
              class="btn btn-info"
              data-bs-toggle="modal"
              data-bs-target="#viewCategoryModal_<%= category.id %>"
            >
              <i class="lni lni-eye text-white"></i>
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#updateCategoryModal_<%= category.id %>"
            >
              <i class="lni lni-pencil-alt"></i>
            </button>
            <button
              type="button"
              class="<%= category.isActive===true? 'btn btn-danger':'btn btn-secondary disabled ' %>"
              data-bs-toggle="modal"
              data-bs-target="#deleteCategoryModal_<%= category.id %>"
            >
              <i class="lni lni-trash-can"></i>
            </button>
          </td>
        </tr>
        <%- include('../modals/category/view_category.ejs', { category }) %> <%-
        include('../modals/category/update_category.ejs', { category }) %> <%-
        include('../modals/category/delete_category.ejs', { category }) %> <% })
        %>
      </tbody>
    </table>
    <%-include('../partials/pagination.ejs')%>
  </div>
</div>
<%- include('../modals/category/create_category.ejs') %>
