<div>
  <div class="d-flex justify-content-between align-content-center my-3">
    <h1 class="text-muted">List of Discounts</h1>
    <button
      type="button"
      class="btn btn-success"
      data-bs-toggle="modal"
      data-bs-target="#discountAdd"
    >
      Create Discounts
    </button>
  </div>
  <div class="container">
    <table class="table table-hover" style="cursor: pointer">
      <thead class="table-info rounded-top">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Percent</th>
          <th scope="col">Status</th>
          <th scope="col">Started At</th>
          <th scope="col">Expired At</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% discounts.forEach(discount => { %>
        <tr>
          <td>
            <p
              class="text-truncate"
              style="max-width: 150px"
              title="<%= discount.id %>"
            >
              <%= discount.id%>
            </p>
          </td>
          <td>
            <p
              class="text-truncate"
              style="max-width: 150px"
              title="<%= discount.name %>"
            >
              <%= discount.name %>
            </p>
          </td>
          <td>
            <p
              class="text-truncate"
              style="max-width: 150px"
              title="<%= discount.description %>"
            >
              <%= discount.description %>
            </p>
          </td>
          <td>
            <p
              class="text-truncate"
              style="max-width: 150px"
              title="<%= discount.amount %>"
            >
              <%= discount.amount + ' ' +'%'%>
            </p>
          </td>
          <td>
            <% if (discount.isActive === true) { %>
            <span class="badge bg-success">Active</span>
            <% } else { %>
            <span class="badge bg-secondary">Inactive</span>
            <% } %>
          </td>
          <td>
            <p
              class="text-truncate"
              style="max-width: 150px"
              title="<%= discount.startAt %>"
            >
              <%= (discount.startAt) %>
            </p>
          </td>
          <td>
            <p
              class="text-truncate"
              style="max-width: 150px"
              title="<%= discount.expiresAt %>"
            >
              <%= (discount.expiresAt) %>
            </p>
          </td>

          <td>
            <button
              type="button"
              class="btn btn-info"
              data-bs-toggle="modal"
              data-bs-target="#viewDiscountModal_<%= discount.id %>"
            >
              <i class="lni lni-eye text-white"></i>
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#updateDiscountModal_<%= discount.id %>"
            >
              <i class="lni lni-pencil-alt"></i>
            </button>
            <button
              type="button"
              class="<%= discount.isActive===true? 'btn btn-danger':'btn btn-secondary disabled ' %>"
              data-bs-toggle="modal"
              data-bs-target="#deleteDiscountModal_<%= discount.id %>"
            >
              <i class="lni lni-trash-can"></i>
            </button>
          </td>
        </tr>

        <%- include('../modals/discount/view_discount.ejs', { discount }) %> <%-
        include('../modals/discount/update_discount.ejs', { discount }) %> <%-
        include('../modals/discount/delete_discount.ejs', { discount }) %> <% })
        %>
      </tbody>
    </table>
    <%-include('../partials/pagination.ejs')%>
  </div>
</div>
<%- include('../modals/discount/create_discount.ejs') %>
